
<form class="formulario-criar-nota" action="">
  <div class="cabecalho-formulario">
  <span class="material-symbols-outlined icon">edit</span>
  <input type="text" placeholder="Titulo">
    <div class="icons-formulario">
    <span class="material-symbols-outlined icon">push_pin</span>
    <a href="" routerLink="/home"><span  class="material-symbols-outlined icon">close</span></a>
    </div>
  </div>
  <input class="criar-nota-input" type="text" placeholder="Criar uma nota...">
  <a href=""class="botao-criar" routerLink="/notas">Criar</a>
</form>
